header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 40rem;
}

.sendMessage {
    width: 70rem;
    display: flex;
    flex-flow: row wrap;
}

.sendMessage input {
    flex-basis: 48%;
    width: 25rem;
    padding: 0.5rem;
    font-size: 1rem;
}

.sendMessage textarea {
    flex-basis: 100%;
}

.sendMessage button {
    width: 10rem;
}