.hidden {
    display: none;
}

header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 3rem;
}

header div {
    width: 70rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 70rem;
}

.carousel section {
    display: flex;
    background-color: #1F2833;
    margin-top: 1.5rem;
    padding: 1rem;
}

.carousel section img {
    flex-basis: 20%;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

.carousel section div {
    flex-basis: 70%;
    padding: 0 1rem;
}

.carouselProject1 img {
    object-position: -175px;
}

h2 {
    font-size: 2.4rem;
}


.projects {
    display: flex;
    width: 70rem;
    margin-top: 1.5rem;
}

.projects img {
    image-rendering: pixelated;
    width: 15rem;
    height: 15rem;
    flex-basis: 20%;
    object-fit: cover;
}

.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.projects div {
    flex-basis: 80%;
    background-color: #1F2833;
    padding: 0.5rem 1rem;
}