header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 3rem;
}

header div {
    width: 70rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 70rem;
}

.carousel section {
    display: flex;
    flex-flow: row wrap;
}

.carousel section img {
    flex-basis: 20%;
    width: 25rem;
    height: 25rem;
    object-fit: cover;
}

.carousel section div {
    flex-basis: 70%;
}

.none {
    display: none;
}