.hidden {
    display: none !important;
}

header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 2.5rem;
}

header div {
    width: 70rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 70rem;
}

.carousel section {
    display: flex;
    background-color: #1F2833;
    margin-top: 1.5rem;
    padding: 1rem;
}

.carousel section img {
    flex-basis: 20%;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

.carousel section div {
    flex-basis: 70%;
    padding: 0 1rem;
    display: flex;
    flex-flow: row wrap;
}

.carouselProject1 img {
    object-position: -175px;
}

.carousel a {
    display: flex;
    align-self: flex-end;
    height: 2rem;
    margin-left: auto;
}

h2 {
    font-size: 2.4rem;
}

.projects {
    display: flex;
    width: 68rem;
    margin-top: 1.5rem;
    background-color: #1F2833;
    padding: 1rem;
}

.projects img {
    image-rendering: pixelated;
    width: 15rem;
    height: 15rem;
    flex-basis: 20%;
    object-fit: cover;
}

.truncate {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.projects div {
    padding: 0.5rem 1rem;
    display: flex;
    flex-flow: column;
}

.projects .buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    padding: 0;
}

.buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    color: #66FCF1;
    font-size: 1.6rem;
    margin-top: 0.5rem;
}

.projects a {
    align-self: flex-end;
}

.website {
    text-decoration: none;
    border: 2px solid #66FCF1;
    border-radius: 10px;
    color: #66FCF1;
    font-size: 1.6rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    margin-left: 1rem;
}

@media only screen and (max-width: 1128px) {
    header div {
        width: 80%;
    }

    .carousel {
        width: 80%;
    }

    .carousel section {
        display: flex;
        margin-top: 3vw;
        flex-flow: column;
    }

    .carousel section img {
        flex-basis: 100%;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .carouselProject1 img {
        object-position: 0;
    }

    .carousel section div {
        flex-basis: 70%;
        padding: 0;
        margin-top: 1.5vw;
    }

    .carousel a {
        display: flex;
        height: 2rem;
    }

    .otherProjects {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }

    .projects {
        width: 80%;
        margin-top: 3vw;
        flex-flow: column;
    }

    .projects img {
        width: 100%;
        height: auto;
    }

    .projects div {
        padding: 0;
    }

    .buttons button {
        padding: 0;
    }
}