header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 70rem;
}

h1 {
    font-size: 4rem;
    margin-top: 1rem;
}

header .buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 15rem;
}

header .download {
    border: solid 2px #66FCF1;
    border-radius: 10px;
    width: 7rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    color: #66FCF1;
    font-size: 1.2rem;
}

.buttons>a {
    height: 1.8rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .resume {
    display: flex;
    flex-flow: row wrap;
    margin-top: 1rem;
    width: 70rem;
}

main .resume {
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: black;
}

/* Resume CSS*/
.resume h2 {
    font-size: 4rem;
    margin-top: 0.5rem;
}

.resume h3 {
    font-size: 2.5rem;
}

.resume p {
    color: black;
}

.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    flex-basis: 100%;
    padding-bottom: 0.5rem;
    border-bottom: 5px solid black;
}

.introduction p {
    width: 45rem;
}

.leftSide {
    flex-basis: 20%;
    padding: 1.5rem;
}

.leftSide li,
a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    margin: 1rem 0;
}

.rightSide {
    flex-basis: 67%;
    padding: 1.5rem;
    border-left: 5px solid black;
}

.resume h4 {
    font-size: 1.5rem;
}

.experience p {
    margin: 0.5rem 0;
}

@media print {
    .none {
        display: none;
    }

    .resume {
        display: contents;
    }

    .resume h2 {
        font-size: 3rem;
        margin-top: 0.5rem;
    }

    .resume h3 {
        font-size: 2rem;
    }

    .resume p {
        color: black;
        font-size: 1.1rem;
    }

    .introduction {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        flex-basis: 100%;
        padding-bottom: 0.5rem;
        border-bottom: 5px solid black;
    }

    .introduction p {
        width: 45rem;
    }

    .leftSide {
        flex-basis: 15%;
        padding: 1.5rem;
    }

    .leftSide li,
    a {
        font-size: 1.2rem;
        margin: 1rem 0;
    }

    .rightSide {
        flex-basis: 55%;
        padding: 1.5rem;
        height: 53.9rem;
        border-left: 5px solid black;
    }

    .resume h4 {
        font-size: 1.1rem;
    }

    .experience p {
        margin: 0.5rem 0;
    }
}

@media only screen and (max-width: 1128px) {

    header div {
        width: 80%;
    }

    h1 {
        margin-top: 3vw;
    }

    main .resume {
        margin-top: 2.5vw;
        width: 90%;
        justify-content: center;
    }

    .resume h2 {
        font-size: 8vw;
        margin-top: 1vw;
    }

    .resume h3 {
        font-size: 4.5vw;
    }

    .resume p {
        font-size: 3vw;
    }

    .introduction p {
        width: 80%;
    }

    .leftSide {
        padding: 3vw;
        flex-basis: 15%;
    }

    .leftSide li,
    a {
        font-size: 2.5vw;
        margin: 2vw 0;
    }

    .rightSide {
        flex-basis: 40%;
        padding: 3vw;
        border-left: 5px solid black;
    }

    .resume h4 {
        font-size: 1.5rem;
    }

    .experience p {
        margin: 0.5rem 0;
    }
}