header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 70rem;
}

h1 {
    font-size: 4rem;
    margin-top: 1rem;
}

header .download {
    margin-top: 0.5rem;
    border: solid 2px #66FCF1;
    border-radius: 10px;
    width: 7rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    color: #66FCF1;
    font-size: 1.2rem;
    font-weight: 600;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .resume {
    display: flex;
    flex-flow: row wrap;
    margin-top: 1rem;
    width: 70rem;
}

main .resume {
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: black;
}

h2 {
    font-size: 2.5rem;
    margin-top: 0.5rem;
}

h3 {
    font-size: 2rem;
}

/* Resume */

.resume p {
    color: black;
}

.resume h2 {
    font-size: 4rem;
}

.resume h3 {
    font-size: 2.5rem;
}

.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    flex-basis: 100%;
}

.introduction p {
    width: 45rem;
}

.leftSide {
    flex-basis: 22%;
    padding: 1.5rem;
}

.leftSide li,
a {
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    margin: 1rem 0;
}

.rightSide {
    flex-basis: 69%;
    padding: 1.5rem;
}

.resume h4{
    font-size: 1.5rem;
}

.experience p {
    margin: 0.5rem 0;
}

@media print {
    .none {
        display: none;
    }

    .resume {
        display: contents;
    }
}