* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

body {
    background-color: grey;
}

/* Change how text select looks like */
::selection {
    background-color: black;
    color: #00ffe5;
    text-decoration: underline;
}

nav {
    background-color: rgb(71, 31, 31);
    height: 3.5rem;
}

nav span {
    color: white;
    background-color: rgb(94, 94, 151);
    font-size: 2rem;
    height: 3.5rem;
}

.otherPages {
    display: flex;
    justify-content: center;
}

.otherPages a {
    background-color: rgb(8, 117, 117);
    height: 3.5rem;
    width: 9rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.otherPages a:hover {
    transition: 1s;
    background-color: rgb(111, 159, 201);
}

header {
    background-color: rgb(85, 99, 37);
    height: 8rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: cyan;
}

main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    background-color: rgb(52, 104, 86);

}

main section {
    background-color: rgb(171, 171, 76);
    height: 30rem;
}
